<div class="hero-content">
    <h1 class="hero-title">Bienvenido a Cine Alchemy</h1>
    <p class="hero-subtitle">
        Descubre un universo de historias cautivadoras y experiencias cinematográficas únicas. 
        Tu próxima aventura está a solo un clic de distancia.
    </p>
    <p class="hero-subtitle">
        Los alquileres tienen una duración máxima de 7 días. 
        <br>
        Debes iniciar sesión para explorar nuestro catálogo de películas.
    </p>
    <button data-route="/peliculas" class="explore-btn" id="explorerMovies">
        Explorar Películas
    </button>
</div>
