<div class="login-container">
    <button class="close-btn" onclick="location.href='index.html'">&times;</button>
    <div class="login-box">
        <h2>Iniciar Sesión</h2>
        <form action="#" method="POST">
            <div class="input-group">
                <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="input-group">
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
                <i class="fas fa-lock"></i>
            </div>
            <button type="submit" id="loginForm">Iniciar Sesión</button>
        </form>
        <p class="signup-link">
            ¿No tienes una cuenta? <a href="registro.html">Regístrate</a>
        </p>
    </div>
    <div class="image-side">
        <img src="../img/inicio.png" alt="Login">
    </div>
</div>
