<div class="recibo">
    <div class="recibo-header">
        <div class="logo-container">
            <img src="../img/logo.png" alt="Logo">
        </div>
        <h1>Comprobante de Pago</h1>
        <p id="fecha"></p>
        <p>Orden: # <span id="ordenId"></span></p>
    </div>

    <div class="detalles-compra">
        <div id="items-container">
            <!-- Aquí se insertará dinámicamente la información del usuario y las películas -->
        </div>

        <div class="total">
            <span>Total a Pagar</span>
            <span id="total-precio"></span>
        </div>
    </div>

    <div class="info-adicional">
        <p>¡Gracias por tu compra!</p>
        <p>Disfruta tus películas</p>
    </div>
</div>