<div class="register-container">
    <button class="close-btn" onclick="location.href='index.html'">&times;</button>
    <div class="register-box">
        <h2>Crear Cuenta</h2>
        <form action="#" method="POST">
            <div class="input-group">
                <input type="text" id="name" name="name" placeholder="Nombre completo" required>
                <i class="fas fa-user"></i>
            </div>
            <div class="input-group">
                <input type="email"  id="email" name="email" placeholder="Correo electrónico" required>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
                <i class="fas fa-lock"></i>
            </div>
            <div class="input-group">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" required>
                <i class="fas fa-lock"></i>
            </div>
            <div class="terms">
                Al registrarte, aceptas nuestros <a href="#">Términos y Condiciones</a> y 
                <a href="#">Política de Privacidad</a>
            </div>
            <button type="submit" id="registerForm">Crear Cuenta</button>
        </form>
        <p class="login-link">
            ¿Ya tienes una cuenta? <a id="loginLink">Inicia sesión</a>
        </p>
    </div>
    <div class="image-side">
        <img src="../img/registro.png" alt="Registro">
    </div>
</div>